In [9]:
test = 7.8
test

7.8

In [5]:
test2 = 'hola mundo'
test2

'hola mundo'

In [6]:
test3 = 'how are you'
print(test3)

how are you

In [10]:
type(test)

float

In [11]:
saludo = "hello"
print(saludo + ' world')

hello world

In [13]:
greetings = 'yo '
print(greetings * 3)

yo yo yo

In [15]:
name = 'dan'
age = 35
print("my name is {} and I'm {} years old.".format(name, age))

my name is dan and I'm 35 years old.

In [16]:
len(name)

3

In [21]:
name = "Daniel"
name.upper()

'DANIEL'

In [25]:
name.count('D')

1

In [26]:
int('5')

5

In [27]:
int('s')

ValueError: invalid literal for int() with base 10: 's'

In [28]:
str(5)

'5'

In [29]:
str('5')

'5'

In [30]:
int('5') + int('6')

11